<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.taras.ua.adrenalincity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Activity.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbhd8HYY961_LLQnopymGg8ofmCeYMgG0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.MainPageMVC.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/filter_title_taras">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.tarantelotdev.com"
                    android:pathPrefix="/tarantelot"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.TodayMovieMVC.MovieTodayActivity"
            android:label="@string/title_activity_movie_today"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MovieMVC.MovieActivity"
            android:label="@string/title_activity_movie"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Login.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".Activity.MainPageMVC.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainPageMVC.MainActivity" />
        </activity>
        <activity
            android:name="ua.privatbank.paylibliqpay.CheckoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MyTicketsMVC.MyTicketsActivity"
            android:label="@string/title_activity_my_tickets"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyBasketMVC.BasketActivity"
            android:label="@string/title_activity_basket"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.BookRules.BookRulesActivity"
            android:label="@string/title_activity_book_rules"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Discount.DiscountActivity"
            android:label="@string/title_activity_discount"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SignUp.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SoonPageMVC.SoonActivity"
            android:label="@string/title_activity_soon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SchedulePageMVC.SchedulePageActivity"
            android:label="@string/title_activity_schedule_page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>